@tailwind base;
@tailwind components;
@tailwind utilities;
@import url('https://fonts.cdnfonts.com/css/aclonica');
@import url('https://fonts.cdnfonts.com/css/quicksand');

* {
  outline: 1px solid silver;
}

body {
  margin: 0;
  padding: 0;
  font-family: 'Quicksand Light', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: #1E1D22;
}

/* Scroll bar customization */
html::-webkit-scrollbar {
  @apply w-1
}

html::-webkit-scrollbar-thumb {
  @apply bg-primary-100 rounded-full
}
html::-webkit-scrollbar-track {
  @apply bg-background
}

html::-webkit-scrollbar-thumb:hover {
  @apply bg-primary rounded-full
}

h1,
h2 {
  font-family: 'Aclonica', sans-serif;
}

.link::after {
  @apply content-[''] bg-primary h-[0.1em] rounded-xl -bottom-[0.2em] left-0 absolute w-[50%]
}

.link:hover:after {
  @apply w-[100%] duration-300
}

.btn {
  @apply flex items-center gap-4 border border-primary text-white px-4 py-2 mt-8 hover:bg-btnHover hover:bg-opacity-20 transition-all duration-300
}