@tailwind base;
@tailwind components;
@tailwind utilities;
@import url('https://fonts.cdnfonts.com/css/aclonica');
@import url('https://fonts.cdnfonts.com/css/quicksand');

* {
  /* outline: 1px solid silver; */
  cursor: none;
  /* scroll-behavior: smooth; */
}

::selection {
  background-color: silver;
  color: silver;
}

body {
  margin: 0;
  padding: 0;
  scroll-snap-type: y mandatory;
  overflow-y: scroll;
  font-family: 'Quicksand Light', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  @apply bg-background
  overflow-x-hidden
}
section{
  scroll-snap-align: start;
}

.blackGlass{
    /* From https://css.glass */
  background: rgba(9, 9, 9, 0.9);
  border-radius: 16px;
  box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
  backdrop-filter: blur(5px);
  -webkit-backdrop-filter: blur(5px);
  border: 1px solid rgba(30, 29, 34, 0.3);
}
/* Scroll bar customization */
html::-webkit-scrollbar {
  @apply w-2
}

html::-webkit-scrollbar-thumb {
  @apply bg-[#333] rounded-full
}

html::-webkit-scrollbar-track {
  @apply bg-background
}

html::-webkit-scrollbar-thumb:hover {
  @apply rounded-full cursor-pointer
}

p {
  @apply text-[1.2em] lg:text-[1.2em] sm:text-[0.95em]
}

h1,
h2,
.h2 {
  font-family: 'Aclonica', sans-serif;
}

.link::after {
  @apply content-[''] bg-primary h-[0.1em] rounded-xl -bottom-[0.2em] left-0 absolute w-[35%]
}

.link:hover:after {
  @apply w-[100%] duration-300
}

.active {
  @apply text-white font-bold
}

.btn {
  @apply flex items-center gap-4 border border-primary text-white px-4 py-2 mt-8 hover:bg-btnHover hover:bg-opacity-20 transition-all duration-300
}

.disabledBtn {
  @apply flex items-center gap-4 border border-gray text-white px-4 py-2 mt-8 cursor-not-allowed
}

.glass {
  background: rgba(0, 0, 0, 0.2);
  box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
  backdrop-filter: blur(2px);
  -webkit-backdrop-filter: blur(2px);
}

Canvas {
  width: 100% !important;
  height: 100% !important;
}

ComposableMap{
  width: 100% !important;
  height: 100% !important;
}

/* Custom cursor */
.cursor {
  z-index: 1000;
  position: absolute;
  top: 0;
  left: 0;
  /* border: 2px solid white; */
  /* background-color: rgba(255, 255, 255, 0.2); */
  height: 30px;
  width: 30px;
  border-radius: 50px;
  transform: translate(-50%, -50%);
  pointer-events: none;
}
.cursor::after,
.cursor::before {
  content: "";
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-color: white;
  height: 10px;
  width: 10px;
  border-radius: 50px;
}
.cursor::before {
  background-color: rgb(255, 255, 255);
}
/* .cursor.click::before {
  animation: click 1s ease forwards;
  background-color: rgb(255, 255, 255);
}
@keyframes click {
  0% {
    opacity: 1;
    transform: translate(-50%, -50%) scale(1);
  }
  100% {
    opacity: 0;
    transform: translate(-50%, -50%) scale(7);
  }
} */

.bigCursor {
  z-index: 100;
  position: absolute;
  top: 0;
  left: 0;
  /* border: 2px solid white; */
  /* background-color: rgba(255, 255, 255, 0.2); */
  height: 60px;
  width: 60px;
  border-radius: 50px;
  transform: translate(-50%, -50%);
  pointer-events: none;
  mix-blend-mode: difference;
}
.bigCursor::after,
.bigCursor::before {
  content: "";
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-color: rgb(255, 255, 255);
  height: 80%;
  width: 80%;
  border-radius: 50px;
}
.bigCursor::before {
  background-color: rgb(255, 255, 255);
}
.bigCursor.click::before {
  animation: click 1s ease forwards;
  background-color: rgb(255, 255, 255);
}


/* CLick and drag */
.clickAndDrag {
  z-index: 100;
  position: absolute;
  top: 0;
  left: 0;
  height: 90px;
  width: 90px;
  border-radius: 50px;
  transform: translate(-50%, -50%);
  pointer-events: none;
}
.clickAndDrag::after,
.clickAndDrag::before {
  content: "click and drag";
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-color: rgb(255, 255, 255);
  height: 80%;
  width: 80%;
  border-radius: 50px;  
  @apply text-[0.8em] grid place-content-center text-center font-bold p-1
}
.clickAndDrag::before {
  background-color: rgb(255, 255, 255);
}


/* changeCursorCopy */
.changeCursorCopy {
  z-index: 100;
  position: absolute;
  top: 0;
  left: 0;
  height: 90px;
  width: 90px;
  border-radius: 50px;
  transform: translate(-50%, -50%);
  pointer-events: none;
}
.changeCursorCopy::after,
.changeCursorCopy::before {
  content: "send email";
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-color: rgb(255, 255, 255);
  height: 80%;
  width: 80%;
  border-radius: 50px;  
  @apply text-[0.8em] grid place-content-center text-center font-bold p-3
}
.changeCursorCopy::before {
  background-color: rgb(255, 255, 255);
}